* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container {
        .row {
            div {
                h2.title {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                    color: var(--color-primary);
                }

                p.description {
                    font-size: 0.86rem;
                    color: var(--text-color);
                }

                hr.underlined {
                    width: 60px;
                    height: 4px;
                    background-color: var(--color-primary);
                    border: none;
                    margin: 2rem auto;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}
