header.header {
    nav.navbar {
        background-color: var(--color-primary);
        padding: 1rem 0;

        div.container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.navbar-brand {
                color: var(--color-accent);
                font-family: var(--font-family);
                font-size: 1.5rem;
                font-weight: 700;

                span {
                    color: var(--color-secondary);
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

            button.navbar-toggler {
                border-color: var(--color-accent);
            }

            div.collapse.navbar-collapse {
                ul.navbar-nav {
                    li.nav-item {
                        a.nav-link {
                            color: var(--color-accent);
                            font-family: var(--font-family);
                            font-size: 1rem;
                            margin-left: 1rem;

                            &:hover {
                                color: var(--color-secondary);
                            }
                        }
                    }
                }
            }
        }
    }
}
