header.header {
    nav.navbar {
        background-color: var(--background-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem 0;

        div.container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.navbar-brand {
                color: var(--text-color);
                font-family: var(--font-family);
                font-size: 1.25rem;
                font-weight: 800;

                span {
                    color: var(--text-color);
                    font-size: 0.775rem;
                    font-weight: 400;
                }
            }

            button.navbar-toggler {
                border-color: var(--text-color);
            }

            div.collapse.navbar-collapse {
                ul.navbar-nav {
                    li.nav-item {
                        a.nav-link {
                            color: var(--text-color);
                            font-family: var(--font-family);
                            font-size: 1rem;
                            margin-left: 1rem;

                            &:hover {
                                color: var(--text-color-hover);
                            }
                        }
                    }
                }

                div.social-links {
                    a.social-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        border-radius: 50%;
                        width: 32px;
                        height: 32px;
                        
                        color: var(--text-color-secondary);
                        font-size: 1.2rem;

                        &.facebook {
                            background-color: #1e64fa;
                            border-color: #1b5ce7;
                        }

                        &.instagram {
                            background-color: #e4405f;
                            border-color: #e4405f;
                        }

                        &.twitter {
                            background-color: #1da1f2;
                            border-color: #1da1f2;
                        }

                        &.youtube {
                            background-color: #ff0000;
                            border-color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}
