section.newsletter {
    background-color: var(--background-color);

    font-family: var(--font-family);

    div.container {
        div.row {
            div.content-geral {
                h2.title {
                    font-size: 2.9rem;
                    font-weight: 800;
                    margin-bottom: 1rem;
                    color: var(--color-primary);

                    span.span-title {
                        color: var(--color-primary);
                    }
                }

                p.description {
                    font-size: 1rem;
                    color: var(--text-color);
                    max-width: 800px;
                    margin-bottom: 2rem;
                }

                form.newsletter-form {
                    input[type="email"] {
                        padding: 0.75rem 1rem;
                        border: 2px solid var(--text-color);
                        border-radius: 4px;
                        font-size: 1rem;
                        width: 250px;

                        &:focus {
                            outline: none;
                            border-color: var(--color-primary);
                        }
                    }

                    button {
                        background-color: var(--color-primary);
                        color: var(--text-color-secondary);
                        padding: 0.75rem 1.5rem;
                        border-radius: 4px;
                        font-size: 1rem;
                        font-weight: 600;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: var(--color-primary);
                            color: var(--text-color-secondary);
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }
}
