section.products {
    background-image: url(/assets/img/3840x2160_Shopify_Header-4_54bdb7e3-cb27-40f0-8d2a-06c43a8527f9.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: var(--font-family);

    div.container {
        div.row {
            div.content-geral {

                div.content {
                    p.description {
                        font-size: 2.5rem;
                        font-weight: 700;
                        color: var(--text-color-secondary);
                        max-width: 800px;
                        margin-bottom: 2rem;
                    }

                    a {
                        background-color: var(--color-primary);
                        color: var(--text-color-secondary);
                        padding: 0.75rem 1.5rem;
                        border-radius: 4px;
                        font-size: 1rem;
                        font-weight: 600;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: var(--color-primary);
                            color: var(--text-color-secondary);
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }
}
